In [1]:
import pandas as pd
import numpy as np
import geopy.geocoders
from geopy.geocoders import Nominatim

import warnings
warnings.filterwarnings("ignore")

raw_hotels = pd.read_csv('data/hotels.csv')

raw_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [2]:
geolocator = Nominatim(user_agent="NVL")

raw_hotels[['lat','lng']] = raw_hotels[['lat','lng']].fillna(0)
mask = ((raw_hotels['lat'] == 0) | (raw_hotels['lng'] == 0))
hotel_none = raw_hotels[mask]

In [3]:
hotel_list = hotel_none.hotel_name.value_counts().index.to_list()
hotel_adr = hotel_none.hotel_address.value_counts().index.to_list()

hotel_list[:3]

['Fleming s Selection Hotel Wien City', 'Hotel City Central', 'Hotel Atlanta']

In [4]:
hotel_adr[:3]

['Josefst dter Stra e 10 12 08 Josefstadt 1080 Vienna Austria',
 'Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Austria',
 'W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria']

In [5]:
list(zip(hotel_list, hotel_adr))[:3]

[('Fleming s Selection Hotel Wien City',
  'Josefst dter Stra e 10 12 08 Josefstadt 1080 Vienna Austria'),
 ('Hotel City Central', 'Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Austria'),
 ('Hotel Atlanta', 'W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria')]

In [6]:
for h, a in zip(hotel_list, hotel_adr):
    
    a = a.split(' ')[-4:]
    # print(a)
    a = a[0]+' '+a[1]+' '+a[2]+' '+a[3]  
    
    place = geolocator.geocode(a, exactly_one=True, language='en')

    # print(h)
    # print(place.latitude, place.longitude)
   
    raw_hotels.loc[raw_hotels['hotel_name'].eq(h) & raw_hotels['lat'].eq(0), 'lat'] = place.latitude
    raw_hotels.loc[raw_hotels['hotel_name'].eq(h) & raw_hotels['lng'].eq(0), 'lng'] = place.longitude

In [7]:
raw_hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         386803 non-null  float64
 16  lng                                         386803 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [8]:
raw_hotels[raw_hotels['hotel_name'] == 'Fleming s Selection Hotel Wien City'][['lat', 'lng']].iloc[0]

lat    48.210852
lng    16.347360
Name: 724, dtype: float64